.container {
  width: 450px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
}

.container input {
  width: 100%;
  border: none;
}

.container input:focus {
  border: none;
  outline: none;
}

.list {
  width: 100%;
}